<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		  <add name="cn" connectionString="Data Source=LAPTOP-R3P7DCQ0\SQLEXPRESS;Initial Catalog=northwind;User ID=Dominik;Password=Dominik6000;"
   providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>